[submodule "435"]
	path = 435
	url = git@github.com:ysyesilyurt/RDT-Protocol.git
[submodule "445"]
	path = 445
	url = git@github.com:simsekhalit/LogWatcher.git
[submodule "334"]
	path = 334
	url = git@github.com:ysyesilyurt/OperatingSystems-2019.git
[submodule "336"]
	path = 336
	url = git@github.com:ysyesilyurt/PIC-Practices.git
